In [2]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
import torch
import torch.nn as nn
from torch.utils.data import TensorDataset, DataLoader, Dataset
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
users = pd.read_csv('./data/' + 'users.csv')
books = pd.read_csv('./data/' + 'books.csv')
train = pd.read_csv('./data/' + 'train_ratings.csv')
test = pd.read_csv('./data/' + 'test_ratings.csv')
sub = pd.read_csv('./data/' + 'sample_submission.csv')

In [30]:
cnt_isbn_rating = train.groupby('isbn')['rating'].count()

In [32]:
# cnt_isbn_rating = cnt_isbn_rating.to_frame()
cnt_isbn_rating

            rating
isbn
0000913154       1
000104687X       1
0001047213       1
0001047973       2
000104799X       1
...            ...
B0001FZGBC       1
B0001FZGPI       1
B0001FZGRQ       1
B0001GMSV2       2
B000234N3A       1

[129777 rows x 1 columns]

In [12]:
len(cnt_isbn_rating[cnt_isbn_rating['rating'] <= 1])

88392

In [13]:
len(cnt_isbn_rating)

129777

In [14]:
88392/129777

0.6811068217018424

In [33]:
delete_isbn = cnt_isbn_rating[cnt_isbn_rating['rating'] <= 1].index

In [34]:
delete_isbn

Index(['0000913154', '000104687X', '0001047213', '000104799X', '0001053736',
       '0001053744', '0001055607', '0001061127', '0001360469', '0001374869',
       ...
       'B0000VZEJQ', 'B0000X8HIE', 'B00011SOXI', 'B00013AX9E', 'B00014WRH4',
       'B00019U4II', 'B0001FZGBC', 'B0001FZGPI', 'B0001FZGRQ', 'B000234N3A'],
      dtype='object', name='isbn', length=88392)

In [39]:
index_isbn_df = train.set_index(keys=['isbn'], inplace=False)

In [44]:
index_isbn_df.drop(delete_isbn, axis=0, inplace=True)
index_isbn_df

            user_id  rating
isbn
0002005018        8       4
0002005018    67544       7
0002005018   123629       8
0002005018   200273       8
0002005018   210926       9
...             ...     ...
1853045616   272482      10
0312273150   272715      10
0312273150   276263       3
0689822855   275825       7
0689822855   276560       8

[218403 rows x 2 columns]

In [47]:
train = index_isbn_df.reset_index().reindex(columns=['user_id','isbn','rating'])