## 자주 쓰이는 pandas

In [ ]:
users:68,092 book:149,570개 train:306,795건 / test:26,167명의 사용자(user)가 52,000개의 책(item) 76,699건

In [ ]:
#필터링
books[books['book_author'].str.contains('w')]['book_author'].unique()

In [ ]:
#test 데이터에만 있는 유저수 확인
len(set(test['user_id']) - set(train['user_id']))

In [ ]:
#corr heat map 그래프 만들기
plt.figure(figsize = (10, 10))
sns.heatmap(test_df.corr(), linewidths=0.1, vmax=1, cmap='RdYlBu_r', linecolor='white',annot=True)
plt.show()

In [ ]:
#분포를 히스토그램 그래프로 나타내기
plt.hist(users['age'])
plt.show()

In [ ]:
#rating과 users, books merge
test_df = train.merge(users, how="left", on='user_id')
test_df = test_df.merge(books, how="left", on='isbn')

In [ ]:
#pandas 생략(...)없이 출력
pd.set_option('display.max_rows', None)
#pandas 30줄까지만 출력
pd.set_option('display.max_rows', 30)

In [ ]:
#각 작가별 쓴 책(isbn) 수 정렬
book_author = books.groupby('book_author')['isbn'].count().sort_values(by=['rating'], ascending = False)

In [ ]:
#열에서 무슨 값이 몇개 있는지 count : isbn이 09..인 책의 각 rating(1~10) 수
test_df[test_df['isbn']=='0971880107']['rating'].value_counts()

In [ ]:
#열이 몇개인지 count
test_df[test_df['isbn']=='0971880107']['rating'].count()

In [ ]:
#시리즈를 frame으로 변환후 merge
one_ratio_df = one_book_df.to_frame().merge(count_df, how='left', on='isbn')
one_ratio_df

In [ ]:
#인덱스를 'isbn'으로 바꾸기
index_isbn_df = train.set_index(keys=['isbn'], inplace=False)

In [ ]:
#delete_isbn에 있는 인덱스면 행 삭제
index_isbn_df.drop(delete_isbn, axis=0, inplace=True)

In [ ]:
#drop 열
train = tmp.drop(['cnt'], axis=1)

In [ ]:
#결측값 없애주기. 여기선 age가 결측값인 user행을 제거
users.dropna(subset=['age'])

In [ ]:
#새 인덱스 추가
df.reset_index()

In [ ]:
#컬럼명 변경해주기
df.rename(columns={'Before':'After'})

In [ ]:
#컬럼의 각 내용을 형변환해주기
rating_time['cnt']=rating_time['cnt'].astype(str)

In [ ]:
#컬럼 값 조건 변경
tmp.loc[tmp['cnt'] == '1', 'rating'] = tmp['rating']-(tmp['rating']-total_avg)*0.5831

In [ ]:
#결측값 채우기
users['age'] = users['age'].fillna(int(users['age'].mean()))

In [ ]:
#True/False를 새 컬럼에 저장
train['one_two'] = (train['rating'] == 1) | (train['rating'] == 2)

In [ ]:
#두 컬럼을 합친 후 새 컬럼에 저장
train['user_book'] = train['user_id'].astype(str)+train['isbn']

In [ ]:
#두 데이터프레임을 행기준 붙이기
train = pd.concat([train_one_two, train_other])

In [ ]:
#df에서 랜덤 행 추출
train_other = train_other.sample(n = 26178)